.img-wrapper {
    width: 100%;
}

.img-wrapper > img {
    width: 100%;
}

#fol {
    width: 100%;
    background-color: #FDC7FF;
    padding: 90px 0px;
}

#lof {
    max-width: 315px;
    width: 100%;
}

.buy-fol{
    width: 100%;
    max-width: 295px;
    padding: 15px
}
.segitems > p {
    align-items: left;
    justify-content: left;
    text-align: left;
    padding-left: 350px;
}