<aside id="sidebar-wrapper">
    <div class="sidebar-brand">
        <a href="#" class="navbar-brand" id="sidebar-toggle"><i style="color: #eee;" class="fa fa-bars"></i></a>
    </div>
    <ul class="sidebar-nav">
        <li class="active">
            <a href="/"><i class="fa fa-solid fa-house"></i>Início</a>
        </li>
        <li>
            <a href="#"><i class="fa-regular fa-address-book pp"></i>Politicas de Privacidade</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-solid fa-cart-shopping"></i>Como Comprar</a>
        </li>
    </ul>
</aside>

<div id="navbar-wrapper">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#" class="navbar-brand" id="sidebar-toggle"><i class="fa fa-bars"></i></a>
            </div>
        </div>
    </nav>
</div>