<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">

    <title>CSG Seguidores</title>
</head>

<body>
    <div class="container h-100">
        <div class="row justify-content-md-center d-flex align-items-center h-100">
            <div class="col-md-6">
                <div class="form-field">
                    <h1 style="color: #eee; text-align: center;">Ωmega Administrator Page</h1><br>
                    <form method="post" action="/omega-login">
                        <div class="form-group">
                            <input type="text" class="form-control" id="username" name="username"
                                placeholder="Seu usuario">
                        </div>
                        <br><br>
                        <div class="form-group">
                            <input type="password" name="password" class="form-control" id="pass"
                                placeholder="Sua senhas secreta">
                        </div>
                        <br><br>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">Acessar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<style>
    body {
        width: 100vw;
        height: 100vh;
        background: url('img/back-adm.png');
        background-size: cover;
    }
</style>
<script>
</script>

</html>